@media only screen and (max-width: 400px) {


body{
  padding-top: 100px;
}

main {
  padding: 30px;
}

nav {
  padding: 30px;
}

nav li {
  font-size: 50px;
  line-height: 55px;
  margin: 10px 0px;
}

/* WELCOME */
.welcome {
  transform: none;
  position: relative;
  width: 100%;
  top: 0px;
  padding: 0px 50px;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.logos img{
  width: 40px;
  padding: 30px 10px 0px 10px;
}

/* ABOUT */
.about h1 {
  margin-bottom: 20px;
}

/* PROJECTS */
.projects ul li {
  padding: 5px 0px;
}
